
<h1><%= @user.email %></h1> 
likes: <%= @my_mmr %>
<br><br>
<% if @user.id == current_user.id %>
	<h2>my posts:</h2>
<% else %>
	<h2>posts:</h2>
<% end %>

<section id='posts'>
	<%= render @user.posts %>
</section>