<article class="post">
  <section class="post-head">
    <% users_have_posts.each do |user| %>
		<h2><%= link_to user.email, profile_path(user.id) %><% if user.rank == 2 %> admin<% elsif user.rank == 1 %> moderator <% end %> </h2>
		<% temp = 0 %>
		<% user.posts.each do |post| %>
			<% temp += post.likes.count %>
		<% end %>
		likes: <%= temp %>
	<% end %>
	<% users_have_not_posts.each do |user| %>
		<h2><%= link_to user.email, profile_path(user.id) %><% if user.rank == 2 %> admin<% elsif user.rank == 1 %> moderator <% end %> </h2>
		<% temp = 0 %>
		likes: <%= temp %>
	<% end %>

  </section>
</article>
<br>