<article class="post">
  <section class="post-head">
    <% users.each do |user| %>
		<h2><%= link_to user.email, profile_path(user.id)  %> </h2>
		<% temp = 0 %>
		<% user.posts.each do |post| %>
			<% temp += post.likes.count %>
		<% end %>
		likes: <%= temp %>
	<% end %>
  </section>
</article>
<br>